<div class="auth-container">
  <div class="form-card">
    <h2>Create Account</h2>

    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
      <!-- Name -->
      <div class="input-group">
        <label>Name</label>
        <input
          [(ngModel)]="name"
          name="name"
          type="text"
          required
          minlength="3"
          #nameField="ngModel"
        />
        <p class="error" *ngIf="nameField.invalid && (nameField.touched || submitted)">
          Name is required and must be at least 3 characters
        </p>
      </div>

      <!-- Email -->
      <div class="input-group">
        <label>Email</label>
        <input [(ngModel)]="email" name="email" type="email" required email #emailField="ngModel" />
        <p class="error" *ngIf="emailField.invalid && (emailField.touched || submitted)">
          Valid email is required
        </p>
      </div>

      <!-- Password -->
      <div class="input-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input
            [(ngModel)]="password"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            required
            minlength="6"
            #passwordField="ngModel"
          />
          <span class="toggle" (click)="showPassword = !showPassword">
            {{ showPassword ? '🙈' : '👁️' }}
          </span>
        </div>
        <p class="error" *ngIf="passwordField.invalid && (passwordField.touched || submitted)">
          Password must be at least 6 characters
        </p>
      </div>

      <!-- Confirm Password -->
      <div class="input-group">
        <label>Confirm Password</label>
        <div class="password-wrapper">
          <input
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            required
            #confirmField="ngModel"
          />
          <span class="toggle" (click)="showConfirmPassword = !showConfirmPassword">
            {{ showConfirmPassword ? '🙈' : '👁️' }}
          </span>
        </div>

        <p
          class="error"
          *ngIf="confirmPassword !== password && (confirmField.touched || submitted)"
        >
          Passwords do not match
        </p>
      </div>

      <!-- <button type="submit" [disabled]="registerForm.invalid">Register</button> -->
      <button type="submit">Register</button>
    </form>

    <p class="redirect">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
